/* Styling for left navigation sidebar */

.nav-container {
    background: #374050;
    height: 100vh;
    width: 15rem;
}

.name-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait {
    margin-top: 3rem;
    width: 50%;
    height: 7em;
    border-radius: 100%;
}
.name {
    color: #8c94a7;
    text-align: center;
}

.down-arrow {
    width: .75rem;
    height: .5rem;
}

.nav-headers {
    color: #8c94a7;
}

/* Styling for top search section */

.search-container {
    background-color: pink;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: auto;
    height: 5rem; 
}

.hamburger-btn {
    width: 5rem;
    height: 5rem;
}

.search-input {
    width: 30rem;
}

.top-right-btn {
    width: 5rem;
    height: 5rem;
}

/*Job title display section*/
.job-title-display {
    background-color: red;
}

/* Graphs */

.graphs {
    background-color: aqua;
}

/**
 * 1. The `reverse` animation direction plays the animation backwards
 *    which makes it start at the stroke offset 100 which means displaying
 *    no stroke at all and animating it to the value defined in the SVG
 *    via the inline `stroke-dashoffset` attribute.
 * 2. Rotate by -90 degree to make the starting point of the
 *    stroke the top of the circle.
 * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
 *    and Edge, use the transform attribute directly on the SVG element as a
 * .  workaround (https://markus.oberlehner.net/blog/pure-css-animated-svg-circle-chart/#part-4-internet-explorer-strikes-back).
 */
 .circle-chart__circle {
    animation: circle-chart-fill 2s reverse; /* 1 */ 
    transform: rotate(89deg); /* 2, 3 */
    transform-origin: center; /* 4 */
  }
  
  /**
   * 1. Rotate by -90 degree to make the starting point of the
   *    stroke the top of the circle.
   * 2. Scaling mirrors the circle to make the stroke move right
   *    to mark a positive chart value.
   * 3. Using CSS transforms on SVG elements is not supported by Internet Explorer
   *    and Edge, use the transform attribute directly on the SVG element as a
   * .  workaround (https://markus.oberlehner.net/blog/pure-css-animated-svg-circle-chart/#part-4-internet-explorer-strikes-back).
   */
  .circle-chart__circle--negative {
    animation: circle-chart-fill 2s reverse;
    transform: rotate(90deg); /* 1, 2, 3 */
  }
  
  .circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
  }
  
  @keyframes circle-chart-fill {
    to { stroke-dasharray: 0 100; }
  }
  
  @keyframes circle-chart-appear {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Layout styles only, not needed for functionality */
  html {
    font-family: sans-serif;
    padding-right: 1em;
    padding-left: 1em;
  }
  
  .grid {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
  }
  
  @media (min-width: 31em) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }