.page-container {
    display: flex;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 5;
}
/* Styling for left navigation sidebar */

.nav-container {
    background: #374050;
    flex: 1;
    color: #8c94a7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}

.name-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait {
    margin-top: 2em;
    width: 50%;
    height: 5rem;
    border-radius: 100%;
}
.name {
    color: #8c94a7;
    text-align: center;
    cursor: pointer;
}

.down-arrow {
    width: .75em;
    height: .5em;
}

.nav-btn {
    width: 1em;
    height: 1em;
    padding-right: .4em;
    cursor: pointer;
}

.nav-btn:hover {
    color: #e1e8ef;
}

.main-nav {
    border-top: solid;
    border-top-color: #2c3749;
    border-bottom: solid;
    border-bottom-color: #2c3749;
}

.admin-nav {
    border-bottom: solid;
    border-bottom-color: #2c3749;
}

.leftside-nav-list {
    list-style-type: none;
    padding-left: 2em;
}

.leftside-nav-list li:hover {
    border-left: solid;
    border-left-color: #15adf8;
    color: #e1e8ef;
}

li {
    padding-bottom: 1em;
    cursor: pointer;
}

.categories-nav li:hover {
    border: none;
}

/* Styling for top search section */

.search-container {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 86vw;
    height: 4rem; 
}

.search-btn-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;
}

.hamburger-btn {
    width: 1.7rem;
    height: 1.7rem;
}

.search-btn-left:hover {
    background-color: #14a4fa;
    cursor: pointer;
}

.search-input {
    width: 75em;
    background-image: url(/images/search.svg);
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: 1em;
    padding-left: 3rem;
}

.search-btn-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;
}

.search-btn-right:hover {
    background-color: #14a4fa;
    cursor: pointer;
}

.top-right-btn {
    width: 1.7rem;
    height: 1.7rem;
}

/*Job title display section*/

.job-title-container {
    background-color:#ffffff;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #5a595f;
    width: 86vw;
    height: 15rem;
}

a {
    color: #63b5e1;
}

.job-header-and-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.job-title-header {
    display: flex;
    flex-direction: column;
}

.location-icon {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.job-title-btns {
    display: flex;
    flex-direction: row;
}

.job-title-nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    cursor: pointer;
}

.job-title-nav li:hover {
    font-weight: bold;
    border-bottom: solid;
    border-bottom-color: #42b2f1;
}

.job-title-nav li {
    padding-right: 2.5em;
}
.open-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.green-dot {
    width: 1rem;
}

.job-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.job-btns-icon {
    width: 1rem;
}

/* Graphs */

.graph-container {
    display: flex;
    flex-direction: row;
    background-color: #ecf1f6;
    width: 86vw;
    height: 20rem;
}

.bar-graph-and-button {
    display: flex;
    flex-direction: column;
}

.circle-chart__circle {
    width: 5rem;
}

.bar-graph {
    width: 25em;
    height: 15em;
}

.circle-chart__circle {
    animation: circle-chart-fill 2s reverse; /* 1 */ 
    transform: rotate(89deg); /* 2, 3 */
    transform-origin: center; /* 4 */
}
  
.circle-chart__circle--negative {
    animation: circle-chart-fill 2s reverse;
    transform: rotate(90deg); /* 1, 2, 3 */
}
  
.circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
}
  
@keyframes circle-chart-fill {
    to { stroke-dasharray: 0 100; }
}
  
@keyframes circle-chart-appear {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  
.graph-circle-grid {
    display: flex;
    flex-direction: row;
    margin: 2.5em 0 0 0;

}

.circle-graph-and-btn {
    display: flex;
    flex-direction: column;
    width: 43rem;
    margin-right: 0;
}

.circle-graph-btn {
    text-align: center;
}
  /* Job Description Section */

.job-description-container {
    background-color: #ecf1f6;
    width: 56vw;
    height: 52rem;
}

/* Links Section */

.links-container {
    background-color: #ecf1f6;
    width: 30vw;
    height: 52rem;
}

.link-btn1 {
    background-color: #4a6ec1;
    width: 20rem;
    height: 4rem;
}

.link-btn2 {
    background-color: #03aaef;
    width: 20rem;
    height: 4rem;
}

.link-btn3 {
    background-color: #0482bd;
    width: 20rem;
    height: 4rem;
}

.facebook-btn {
    width: 1.7rem;
    height: 1.7rem;
}

.twitter-btn {
    width: 1.7rem;
    height: 1.7rem;
}

.linkedin-btn {
    width: 1.7rem;
    height: 1.7rem;
}

/* MEDIA QUERIES */

@media (max-width: 950px) {
     .wrapper {
        margin-left: 0;
    }
    
    .nav-container {
        display: none;
    }

    .search-container {
        width: 100vw; 
    }

    .search-input {
        width: 80em;
    }

    .job-title-container {
        width: 100vw;
    }

    .graph-container {
        width: 100vw;
    }

    .job-description-container {
        width: 63vw;
    }

    .links-container {
        width: 37vw;
    }
    
}
